.navbar {
	background-color: #251a65;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.3s;
	z-index: 10;
}

.nav-link {
	transition: 0.3s ease;
}

.nav-link:hover {
	padding-bottom: 5px;
	border-bottom: 4px solid white;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	font-size: 2rem;
	border: none;
}

.navbar-toggler {
	color: white;
}
